.layout {
  display: flex;
  height: 100vh; /* dùng height, không dùng min-height */
  overflow: hidden; /* KHÔNG cho trang cuộn ở đây */
  background: #f7f9fc;
}

.sidebar-wrap {
  width: 240px;
  flex-shrink: 0;

  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #e5e7eb;
  overflow-x: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; /* cho phép con flex và cuộn */
}

.header-wrap {
  flex-shrink: 0;
  background: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
  z-index: 10;
}

.content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
